/* INTERNAL TITLES */
.temperature {
  position: absolute;
  top: 15px;
  left: 15px;
}

.weather {
  position: absolute;
  top: 70px;
  left: 15px;
}

.video {
  position: absolute;
  bottom: 80px;
  left: 15px;
  height: 100px;
}

.place {
  position: absolute;
  bottom: 30px;
  left: 15px;
}

/* CARDS OF WEATHERS */
.container {
  height: 300px;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  border-radius: 30px;
  position: relative;
  color: white;
}
.rain {
  background-color: #0a2647;
}

.windy {
  background-color: #526d82;
}

.cloudy {
  background-color: #576cbc;
}

.sunny {
  background-color: #f79327;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}
